---
import Layout from '@/layouts/LayoutDefault.astro'
---

<Layout title="500 Server Error">
  <div class="flex min-h-[50vh] flex-col items-center justify-center">
    <h1 class="text-4xl font-bold">500</h1>
    <p class="mt-4 text-xl">Internal Server Error</p>
    <a href="/" class="mt-8 button">
      Go Home
    </a>
  </div>
</Layout>
