---
import { themeConfig } from '@/core/.config'

const { site } = themeConfig
const year = new Date().getFullYear()

const footerText = site.footer.map((text) =>
  text
    .replace('%year', year.toString())
    .replace('%author', site.author)
    .replace('%website', site.website)
)
---

<footer class="border-t border-gray-200 py-8 dark:border-gray-700">
  <div class="text-center text-sm text-gray-500 dark:text-gray-400">
    {footerText.map((text) => <p set:html={text} />)}
  </div>
</footer>
