---
import { themeConfig } from '~/.config'
import LayoutDefault from '~/layouts/LayoutDefault.astro'
import { getCategories, getPathFromCategory } from '~/utils/index'

const { translate: t } = Astro.locals
const categoryMap = await getCategories()

const list = getListFromMap(categoryMap)

function getListFromMap(map: typeof categoryMap) {
  return Array.from(map).map((entry) => {
    const [key, value] = entry
    return {
      title: key,
      href: `/categories/${getPathFromCategory(key, themeConfig.site.categoryMap)}`,
      size: t('categories_count', value.length),
    }
  })
}
---

<LayoutDefault>
  <section>
    <h2 class="post-title">{t('Categories')}</h2>
    <ul class="pl-6" flex="~ col gap-4">
      {
        list.map((item: { title: string; href: string; size: string }) => (
          <li>
            <a href={item.href} class="not-underline-hover inline-flex items-center">
              <span class="i-mdi-folder mr-2 h-6 w-6" />
              <span>{item.title}</span>
              <span class="ml-2 text-3">{item.size}</span>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</LayoutDefault>
